{% extends "core/base.html" %}
{% load static %}
{% block navbar %}{% endblock navbar %}
{% block body-content %}
    <div class="reset-form">
        <div class="display-6">Account Recovery</div>
        <p class="lead px-md-5 px-2 text-center">
            To help keep your account safe, We wants to make sure it's really you trying to sign in
        </p>
        <form action="" method="post">
            {% csrf_token %}
            <div class="label-item">
                {{form.label_tag}}
                {{form}}
            </div>  
            <small>
                {{form.errors|striptags}}
            </small>
            <input class="form-submit-btn my-3 fw-medium" type="submit" value="send mail">
        </form>
    </div>
{% endblock body-content %}